# Copyright (c) 2025 Siratul Islam
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32_COPIADA
	select SOC_ESP32_WROOM_32UE_N4
	select SOC_ESP32_PROCPU if BOARD_ESP32_COPIADA_ESP32_PROCPU
	select SOC_ESP32_APPCPU if BOARD_ESP32_COPIADA_ESP32_APPCPU
